.Program {
  /* background-color: yellow; */
  margin-top: 30px;
  min-height: 30vh;
}

.Program h4 {
  font-weight: 600;
}

.Program p {
  font-weight: 500;
}

.allCards {
  display: flex;
  overflow: auto;
  min-height: 30vh;
}
/* 
.cardText {
  margin-bottom: 10px;
} */

.card {
  border: none;
  border-radius: "10px";
}

.bodyCard p {
  margin-top: 10px;
}
